[2021-08-24 21:07] rdbende opened #2 "add gh actions"
would be nice to have mypy, black and isort checks

[2021-08-24 21:08] rdbende opened #3 "tests"
ohh, I hate write tests

but I always mess up thing, so it would be good

[2021-08-30 11:20] rdbende opened #7 "`tukaan.App` is crazy inefficient"
https://github.com/tukaan/tukaan/blob/fcf7ff97fe14da80d7f0d8b71e74c28d839e24f6/tukaan/app.py#L56-L70

[code]

without those lines, tukaan is only between 2.9 and 3.3 seconds

### Times

- with tukaan I never got below 2.9 (commented out those lines)
- with tkinter I never got below 2.7
- (with teek I never got below 3.3)

[2021-08-30 11:27] rdbende commented on #7
In real life, this isn't a big problem because the user can't create more than one `App` object.

[2021-08-31 18:43] rdbende commented on #7
It will never be as fast as PyQt, but is it worth checking the noneness of the keys? Unfortunately won't work for the `theme`,

[2021-09-03 13:53] rdbende opened #9 "Add TabView widget"
`tukaan.TabView` and `tukaan.TabView.Tab` widgets

Requires other widget: `tukaan.Frame`

Documentation: [ttk_notebook(3tk)](https://www.tcl.tk/man/tcl/TkCmd/ttk_notebook.html)

Features to be implemented:
- [x] append tabs
- [x] remove tabs
- [x] hide/unhide tabs
- [x] move tabs
- [x] select tabs
- [x] config tabs
- [x] get selected tab -> property

[2021-09-03 18:39] rdbende opened #10 "Add Frame widget"
`tukaan.Frame` widget

Required widgets: `tukaan.ScrollBar`

Documentation: [ttk_frame(3tk)](https://www.tcl.tk/man/tcl/TkCmd/ttk_frame.html)

Features to be implemented:
- [x] Built in scrollbars, adjustable by the `overflow` attribute

[2021-09-03 18:41] rdbende opened #11 "Images for `Button` and `Label`"
Implement image support for `tukaan.Button` and `tukaan.Label` widgets

Requirement: `tukaan._images._image_converter_class`

Features to be implemented:
- [x] images

[2021-09-03 18:59] rdbende opened #12 "Add Images"
`tukaan._images._image_converter_class`, `tukaan.Image`, `tukaan.Icon` and `tukaan.IconFactory` classes

Images work only with PIL, because Tk images still suck.

A widget to display images
[code]

Can also be used for a button, or anything else
[code]

`Icon` class WITHOUT PIL, so it's fast, but immutable, only png
[code]

`IconFactory` is basically an object to collect `Icon`s
[code]

- [x] Imag

[2021-09-04 18:05] rdbende opened #13 "Add Slider widget"
`tukaan.Slider` widget

Documentation: [ttk_scale(3tk)](https://www.tcl.tk/man/tcl/TkCmd/ttk_scale.html)

Features to be implemented:
- [ ] every method

[2021-09-04 20:34] #13 closed

[2021-09-17 10:44] rdbende opened #15 "Create layout managers"
## The grid LM

[code]

### Parameters
Parameter | Description
-|-
row|row|
col|column
rowspan|rowspan
colspan|columnspan
margin|human understandable expression for `padx` and `pady`
hor_align|horizontal stickiness see below
vert_align|vertical stickiness see below

- [x] Parameters done

### Horizontal and vertical alignment (sticky)
Horizontal align | Vertical align | Tk sticky value
-|-|-
None|

[2021-09-18 15:32] rdbende opened #16 "Create exceptions, and raise them"
Always raise Python exceptions instead of Tcl ones.

[2021-09-18 22:03] rdbende opened #17 "Rethink grid"
## Implement placing by cell name, like you'd do it in css
- [x] Done

In css you can do things like this to place an element by grid cell name:
[code]
This will place the widget in `row: 1`, `column: 2`, and will set the column and rowspan.

So in Tukaan instead of this:
[code]
you could write this, and cells are already created for the rest of the widgets:
[code]

## Allow to row-, and columncon

[2021-09-21 19:34] rdbende opened #19 "Add Entry widget"
`tukaan.Entry` widget

Documentation: [ttk_entry(3tk)](https://www.tcl.tk/man/tcl/TkCmd/ttk_entry.html)

Features to be implemented:
- [x] fancy index handling
- [x] built in validation for
    - [x] int
    - [x] float
    - [x] email address
    - [x] hex color
    - [x] custom regex
 - [x] parameters
- [x] everything else

[2021-09-25 17:06] #17 closed

[2021-09-25 17:07] #15 closed

[2021-09-26 10:52] rdbende opened #22 "Add Scrollbar widget"
`tukaan.ScrollBar` widget

Documentation: [ttk_scrollbar(3tk)](https://www.tcl.tk/man/tcl/TkCmd/ttk_scrollbar.html)

Features to be implemented:
- [x] easily attach to scrollable widgets
- [x] autohide

[2021-10-03 16:19] #22 closed

[2021-10-03 17:06] #19 closed

[2021-10-03 18:56] #7 closed

[2021-10-10 17:30] rdbende opened #30 "Add `tukaan.TextBox` widget"
`tukaan.TextBox` widgets

Requires: `tukaan.Image`

Documentation: [text(3tk)](https://www.tcl.tk/man/tcl/TkCmd/text.html)

Features to be implemented:
- [x] all attributes
- [x] implement peers
- [x] get
- [x] delete
- [x] insert
- [x] search
- [x] replace
- [x] scroll_to
- [x] tags
- [x] all tag attribute
- [x] marks
- [x] dump
- [x] line info
- [x] count
- [x] fancy index handling
- [x] auto sc

[2021-10-12 18:27] rdbende opened #32 "Fonts"
Font management in Tk (and in Tkinter too) is a big pile of shitt

In Tukaan it shouldn't be

[2021-10-12 18:53] rdbende opened #33 "Improve `TextBox`"
- [x] do something with Tag. prev, next range, (i really don't like, how they currently work)
- [x] more preset tag?

[2021-11-19 09:11] insolor opened #37 "The first example in the readme fails with "TypeError: grid() got an unexpected keyword argument 'column'""
The problem is in the following line:
[code]
There is no `column` parameter in the `Grid.grid` method, there is `col` instead.

But I wonder, isn't it better to use full names like "column" or "columnspan"?

[2021-11-19 09:50] rdbende commented on #37
LOL, I just haven't tried any of the examples, so yes.

I named it `col` and `colspan` because `column(span)` is way longer, much longer than I would like to type in each line. Though now that cells work well, I'll consider renaming them.

[2021-11-19 10:30] insolor commented on #37
I think I'm a bit out of context, what cells do you mean?

[2021-11-19 10:40] rdbende commented on #37
When you do this:

[code]

Specify the cell layout with lists and strs, and then apply it to the widget. So you don't have to set column, row, columnspan, and rowspan explicitly.

[2021-11-19 10:41] insolor commented on #37
Ok, got it

[2021-11-19 10:41] #37 closed

[2021-12-21 21:31] rdbende opened #38 "Messageboxes and dialogs"
TODO:
- [ ] Messageboxes ([Sun-Valley-messageboxes](https://github.com/rdbende/Sun-Valley-messageboxes))
- [x] Filedialogs
  - [x] Open file
  - [x] Save file
  - [x] Select directory
- [ ] Color selection
- [ ] Input dialog
  - [ ] String
  - [ ] Number
  - [ ] Slider
- [ ] Calendar dialog
- [ ] About dialog
- [ ] Task dialog
- [ ] Progress dialog
- [ ] Notifications
- [ ] Credentials dialog
- [

[2021-12-22 20:36] rdbende opened #40 "Add `RadioButton` and `RadioGroup` widget"
`tukaan.RadioButton` and `tukaan.RadioGroup` widgets

Requirements: control variables

Documentation: [ttk_radiobutton(3tk)](https://www.tcl.tk/man/tcl/TkCmd/ttk_radiobutton.html)

Features to be implemented:
**RadioButton:**
- [x] select
- [x] invoke
- [x] get if selected

**RadioGroup:**
- [x] select radio by id (value)
- [x] destroy radio by id (value)
- [x] get radio object by id (value)
- [x]

[2021-12-22 21:36] rdbende opened #41 "Add `CheckBox` widget"
`tukaan.CheckBox` widget

Requirements: Boolean control variable

Documentation: [ttk_checkbutton(3tk)](https://www.tcl.tk/man/tcl/TkCmd/ttk_checkbutton.html)

Features to be implemented:
- [x] select
- [x] deselect
- [x] invoke
- [x] toggle state
- [x] get if selected
- [x] set if selected

[2021-12-22 21:38] #40 closed

[2021-12-22 21:39] #41 closed

[2021-12-23 11:35] #12 closed

[2021-12-28 18:05] rdbende opened #45 "Font management"
I have no better idea than what teek does.

Usually you don't need a named, mutable font object, just an object to specify the widget font, so a tcl namedfont is a total waste of memory. On the other hand it isn't good to have multiple font classes to different tasks.

[2021-12-28 20:37] #30 closed

[2021-12-28 20:37] #32 closed

[2021-12-28 20:37] #33 closed

[2021-12-28 21:52] #11 closed

[2021-12-29 07:05] sumeshir26 commented on #38
Where can I get these tkinter message boxes?

[2021-12-29 11:54] rdbende commented on #38
[Right here](https://github.com/rdbende/Sun-Valley-messageboxes)

[2021-12-30 07:24] sumeshir26 opened #46 "Publish Tukaan to Pypi"

[2021-12-30 07:24] sumeshir26 opened #47 "Add Screenshots to README"

[2021-12-30 07:27] sumeshir26 opened #48 "Write Docs with Different Widgets and Methods"
This will make it much easier to get started, I didn’t even know this had so many options without looking at the code!

[2021-12-30 15:44] rdbende commented on #48
Yeah, it'd be good, I'm just too lazy. 🙄

[2021-12-30 15:48] rdbende commented on #46
I don't want to add it to PyPi yet, because there is still a lot to do, but I'll keep this issue open until it's done.

[2022-01-18 05:58] not-nef opened #49 "Integrate playsound module"

[2022-01-18 06:26] insolor commented on #49
Why it is needed to be integrated into tukaan itself? Just run playsound in a separate thread.

[2022-01-18 16:04] not-nef commented on #49
Well i just thought it would be useful

[2022-01-19 06:18] insolor commented on #49
Maybe, if you specify what kind of integration do you mean, it would be clearer. From my perspective, it is easy to use playsound as is, as a separate package, without any additional integration.

As an example, what needs some kind of integration is [pystray][1], because there is no clear and obvious way how to add a tray icon when you use tkinter or tukaan. There is [some workaround on StackOver

[2022-02-04 17:11] rdbende opened #53 "Screen and ScreenDistance may not work at all"
Tukaan's `Screen` and `ScreenDistance` objects are really nice and useful, but based on [this](https://stackoverflow.com/questions/30312875/tkinter-winfo-screenwidth-when-used-with-dual-monitors) SO question, they may not work at all on dual monitor setups.

Another problem is that Tcl/tk doesn't know the real ppi, only dpi, so ScreenDistance works well only if user doesn't use `xrandr --dpi <not

[2022-02-10 04:59] #47 closed

[2022-02-12 13:35] im-coder-lg commented on #46
Hiya guys(yeah I know @sumeshir26 and @not-nef, I work with them). So how do you import Tukaan? Is it like cloning the repo and adding it to a project?

[2022-02-12 13:48] rdbende commented on #46
Currently yes.

[2022-02-12 14:02] not-nef commented on #46
You can add simply use tukaan by putting the `tukaan` Folder in `%LOCALAPPDATA%\Programs\Python\Python310\Lib\site-packages`. Now you can use it like any other module! @im-coder-lg

[2022-02-12 15:15] im-coder-lg commented on #46
Hmm, will try that. I'm also working in making the formatting workflow better. Will make the PR when I am free.

[2022-02-12 16:31] not-nef commented on #46
I think this is the wrong repo 😅

[2022-02-13 00:51] im-coder-lg commented on #46
It's the right repo.

[2022-02-13 05:30] not-nef commented on #46
I mean we shouldn't talk about it here

[2022-02-13 11:10] im-coder-lg commented on #46
I meant that here, the checks are merely checks. Would it be better if it formatted and optionally concatenated the code if it detects that the code isn't formatted?

[2022-02-13 11:15] not-nef commented on #46
idk what u talkin bout

[2022-02-13 11:17] im-coder-lg commented on #46
me: _what_
I am talking about enhancing the workflow. Just need ideas.

[2022-02-13 12:28] not-nef commented on #46
But why dont we speak about it in the timerx repo?

[2022-02-13 12:38] im-coder-lg commented on #46
'cause I am thinking of doing it here too. Look, right now, @rdbende has to do formatting locally, so what I am telling is, I have noticed him using a KDE Linux machine, so if he allows, I'll make a simple SH file that formats and optionally(I don't think I'll add it, maybe to a very important file exclusively) concatenates the code to show it was formatted.

[2022-02-21 21:17] rdbende commented on #10
Auto scrollbars implemented, but probably moving to `ScrollableFrame` widget.

[2022-02-27 10:14] #9 closed

[2022-02-27 10:14] #10 closed

[2022-02-27 10:14] #53 closed

[2022-03-11 12:10] rdbende commented on #49
Well, I'm not going to integrate the `playsound` module, for several reasons.

1. `playsound` has only one function, which isn't a big deal to import from there instead of Tukaan
2. `playsound` advertises itself as no dependencies required, which is not true. On Linux you need the `PyGObject` package, which is a big dependency
3. `playsound` is dumb. It has only one function, which doesn't allow y

[2022-03-11 12:10] #49 closed

[2022-03-11 12:21] rdbende commented on #49
@insolor I'm not sure in Pystray either.
It's a pain to get it working with Tkinter, since both have their own mainloops that block each other.

I might just implement the `tk systray` feature that's in Tk 8.7, although it would be nice to find a way to make Tukaan and Pystray work well together.

[2022-03-11 13:32] rdbende opened #61 "Feature: Audio stuff"
In `tukaan.media` or `tukaan.audio` submodule.

TODO:

- [x] Open sound
- [x] Play sound
- [x] Play section of sound
- [x] Pause sound
- [x] Stop sound
- [x] Record sound
- [x] Save sound
- [x] Concatenate sounds
- [x] Insert sounds
- [x] Insert section of sound
- [x] Mix sounds
- [x] Mix section of sound
- [x] Apply filters to sounds
- [x] Apply filters to section of sound
- [x] Cut section of so

[2022-03-11 13:48] rdbende opened #62 "Feature: Theming"
TODO:

- [ ] Apply native theme
      Would be nice to use [tile-gtk](https://github.com/rdbende/gttk) (and tile-qt) on Linux, though I can't release binaries here, as Gtk is LGPL
- [ ] Get current theme
- [ ] Set theme
- [ ] Get available themes

[2022-03-11 14:19] sumeshir26 commented on #49
But mac dosent have Tcl 8.7 unless you use annaconda, right?

[2022-03-11 14:29] rdbende commented on #49
I won't add support for Tcl/Tk 8.7 until they release the stable version, so I don't think that's a problem.

[2022-03-13 12:09] rdbende commented on #48
@sumeshir26 There's some initial documentation with GitHub pages here: https://tukaan.github.io/docs.
Currently there are only two pages, but I recommend you to read it, as it may also be useful for Tkinter users. Also, if you have an improvement or want to make a new page, feel free to contribute!

[2022-03-13 12:14] sumeshir26 commented on #48
On the home screen, Blocking us mistyped as Blicking

[2022-03-13 12:17] sumeshir26 commented on #48
Also, did'nt you write a basics article on this repos Github Wiki? You should add it

[2022-04-15 07:34] #61 closed

[2022-04-17 17:33] rdbende commented on #48
I would really appreciate, if somebody could help in this 🤗

[2022-04-17 17:37] rdbende commented on #48
Also, writing comprehensible \_\_doc\_\_strings in English is not my strong point.

[2022-04-18 09:59] sumeshir26 commented on #48
I would truly do it but recently I have become so busy☹️Maby in my vacations tho

[2022-04-18 17:18] im-coder-lg commented on #48
I just saw this tbh. Could help in this if I could get hands-on with the features. You sure it can work on a Manjaro ARM build on a Pi 4B? I'm changing my devcenter completely from Windows.
Also, anyone have any ideas on a grammar checking tool in the command line? If it's on Pamac, I could check for errors and fix them. Just to get it perfected, I am a perfectionist, hence I don't leave little de

[2022-04-18 17:23] im-coder-lg commented on #48
Maybe I'll just draft it out during a small break. This is the last school week and I am gonna be busy till the end of May, but that doesn't mean I don't get to test things. Will try Tukaan (first timers, so it's gonna be something!).
Maybe, just a tip: if we get creative, we could configure code snippets and use screenshots for outputs. My Linux machine would be honoured for this job, and so will

[2022-04-18 17:36] rdbende commented on #48
In theory everything should work just fine on Linux. Unfortunately that's not the case on Windows, 'cause I haven't compiled any binary extension on it. So Tukaan currently works only on Linux.

Yeye, I'm trying to add as much demo snippets to new PRs as I can, and some day I'll move them to an example repo. These code snippets can also help you learn a bit of Tukaan, although I know, they're not

[2022-04-19 07:52] im-coder-lg commented on #48
Hmm... Doesn't matter if it's informative, just keep it in the open source mode, I'll help during May. I have an exam up and then holidays, however will be busy till May. I will charter some MD on Obsidian by today.

[2022-04-20 10:12] im-coder-lg commented on #48
Also for the documentation site, I recommend that you use another Jekyll theme, Cayman sucks in that.

[2022-04-20 10:13] im-coder-lg commented on #48
Also for the documentation site, I recommend that you use another Jekyll theme, Cayman sucks in that.

[2022-04-20 10:18] im-coder-lg commented on #48
Plus point: I have a ague but nice idea. As we are talking, I just forked Tukaan's docs repo. Not to make huge text upgrades, but to add a really visually appealing Jekyll theme to it. Don't worry, I am in control there, but I just need some code snippets(well, list all the functions and we will add them slowly, could take a long time, but once done, enjoy!), some free time and a nice Jekyll theme

[2022-04-20 15:17] rdbende commented on #45
Resolved bx #70

[2022-04-20 22:36] im-coder-lg commented on #48
@rdbende saw your invite to join the docs repo as a collaborator, thanks for that big opportunity. I'll upload my changes there in a new branch late afternoon.

[2022-04-21 23:02] rdbende commented on #48
@im-coder-lg I saw, you use Just-the-Docs, I think it's a nice stuff, and I temporarily added it as a remote theme to `tukaan/docs`. I wanna have some customization on it, and I started experimenting with some visual identity [here](https://tukaan.github.io/) (turned out to be quite crappy :((
So, thank you for your work in you fork.

[2022-04-22 07:54] im-coder-lg commented on #48
10-4, boss! I'll explore some more things, I need some help on a Favicon though, so if you provide that, I'll work on that, add it, customize the website and hopefully make it attractive. Is Tukaan ready for an alpha build? That way, we could gain traction to the website and the modules...

[2022-04-22 07:55] im-coder-lg commented on #48
Hmm, the sentence "The New Experience" has a worse font. Any good font ideas?

[2022-04-22 08:05] rdbende commented on #48
Yeah, I wanna merge the Gtk theming before that so Tukaan can look native on Linux, but otherwise I think it's ready for an alpha release.

Will work on that today

[2022-04-23 18:57] #46 closed

[2022-04-26 00:30] Moosems commented on #48
I just noticed this issue. Would you like me to look into helping with the docs so that we can add all the widgets to the docs? If not, I take no offense at all. I do not have nearly as much understanding in web development so I may not be the greatest fit but I know a decent bit (enough to create an outline)

[2022-04-26 00:32] Moosems commented on #2
Can I leave an idea for a widget? I believe it would be nice to have a terminal widget that also works nicely with pyinstaller and the mac windowing process. Just a though. I found something similar for tkinter if you would like me to share it. It has a few bugs but I plan on figuring them out and making a pull request there

[2022-04-26 01:11] im-coder-lg commented on #48
Well, we do need extra help, so you can do it! No need to know web dev, all you need is Ruby, Bundler, Jekyll and some Markdown skill.

[2022-04-26 06:15] rdbende opened #73 "Widget idea: Terminal widget"
Can I leave an idea for a widget? I believe it would be nice to have a terminal widget that also works nicely with pyinstaller and the mac windowing process. Just a though. I found something similar for tkinter if you would like me to share it. It has a few bugs but I plan on figuring them out and making a pull request there

_Originally posted by @Moosems in https://github.com/tukaan/tukaan/issue

[2022-04-26 12:07] Moosems commented on #48
Would you be able to give a quick rundown on those languages and the how to edit the site?

[2022-04-26 12:08] Moosems commented on #73
The widget I was referring to is called tkterminal

[2022-04-26 12:51] im-coder-lg commented on #48
Well, you first need Ruby 2.7.3 on your Mac. Then, open your terminal with sudo perms, then make sure the gem command exists. Gem is the command call for Ruby's apckage manager. With that, run `gem install Jekyll bundler`. Then, to get the packages, go to the docs repo root and run `bundle install && bundle exec jekyll serve`. Then, you have a server running at localhost:4000/docs, and you can use

[2022-04-26 13:46] Moosems commented on #48
I've been trying for about an hour to update ruby but because I use a mac it is being a great pain 😩. I keep getting errors with SSL certificates and whatnot. I have Ruby 2.3.7 installed currently but am not sure if that will suffice. Does it require Ruby 2.7.3 or will my current version work? Thanks for the instructions by the way 🙏

[2022-04-26 13:50] sumeshir26 commented on #48
I guess 2.3 should work, but i dont have a mac so i haventrried

[2022-04-26 13:51] sumeshir26 commented on #48
And even if you write just the markdown and give it to us, we will add it and stuff

[2022-04-26 13:52] Moosems commented on #48
Got it!

[2022-04-26 14:38] Moosems commented on #48
@im-coder-lg I noticed that the docs pages are just markdown files. Those were what I was referring to when I meant help writing the docs. I could do that for y'all without ruby 😁

[2022-04-26 15:19] im-coder-lg commented on #48
Look, listen to me. If you wanna preview the site, get Jekyll. If not, just use MD and get a CDN like Netlify to do test deployments.

You got Shortwave?

[2022-04-26 15:36] Moosems commented on #48
I just got Shortwave. I also have Discord but can't use it until 4 cause of wifi restrictions

[2022-04-26 15:37] Moosems commented on #48
I also created a Tukaan workspace

[2022-04-26 15:38] Moosems commented on #48
Whats your Username so I can invite you?

[2022-04-26 16:03] im-coder-lg commented on #48
Well, afaik, you need to add my email. But I would prefer Twitter to Shortwave. But anyway, can you add a ProtonMail account? I can't make Gmail because of the name restrictions. My name isn't offensive, but at the same time, I just can't afford my identity to be out in the world. I am just 13.

Maybe Twitter or Discord. Shortwave seems a bit Outta range since I use one lettered names for GitHub w

[2022-04-26 16:11] Moosems commented on #48
That makes sense. I don't have twitter (home rules) so that won't work. I'll add a ProtonMail account quickly. My account is moosems-coding@protonmail.com. I will delete this comment in 35 minutes so that should be enough time to add me

[2022-04-26 17:33] Moosems commented on #48
Email me at moosems-coding@protonmail.com using ProtonMail

[2022-04-26 18:38] Moosems commented on #48
@im-coder-lg I need to take down the email soon so that I don't start to get scammers

[2022-04-27 11:54] Moosems commented on #73
Idea: A big problem with tkterminal is that when windowed with tkterminal apps don't love giving paths. Making paths work with the terminal will be important

[2022-04-27 11:55] Moosems commented on #48
I am not able to download and use Jekyll with my Ruby and because Apple locks down their products so hard my Mac doesn't want a Ruby update

[2022-04-28 04:23] im-coder-lg commented on #48
Hmm.. try Gitpod services.

[2022-04-28 05:40] insolor commented on #48
@Moosems technically you don't need Jekyll locally to contribute to the docs. You can just fork the repo, edit it, test on your account (you can enable Pages on your fork and see the result on the URL `<username>.github.io/docs`), then create a pull request to add your changes to the original repository.

Local Jekyll just simplifies testing and reduces time when you see results after you make cha

[2022-04-28 11:46] Moosems commented on #48
Sounds good! Is there anywhere I could go to get an explanation on Jekyll?

[2022-04-28 15:31] im-coder-lg commented on #48
Well, the forum, Jekyll's official site, maybe even with people on the GitHub Pages team. But if you need some more help, I'll be there.

[2022-04-28 15:36] Moosems commented on #48
Here's my idea for the doc creation:

I can make the actual markdown files and do the writing because English is my native language so it will be easier for me and I can write them pretty fast. Since I can't run Jekyll locally you can do the backend Jekyll stuff so that the work is divided according to resources and we could be most effective that way. If you guys want to do the markdown files tha

[2022-04-29 00:35] im-coder-lg commented on #48
I'll do the Jekyll backend stuff! My PC has Jekyll installed(that was my first project here, creating blogs via Jekyll), hence I can testt he website.

[2022-04-29 00:42] Moosems commented on #48
Nice! Sounds like a plan!

[2022-04-30 12:55] sumeshir26 opened #74 "Feature: Theme collection"

[2022-04-30 12:58] rdbende commented on #74
I have quite a few other themes in development, and I'm planning to create a separate package to store Tukaan themes, similar to [ttkthemes](https://github.com/TkinterEP/ttkthemes)

[2022-04-30 12:59] rdbende commented on #74
I'm also planning to include a nice default theme in Tukaan (either Sun Valley, or else).

[2022-04-30 15:28] sumeshir26 commented on #74
Thats awesome! Which themes are you making?

[2022-04-30 20:18] rdbende commented on #74
I'm doing a vintage-90's design like this:
![image](https://user-images.githubusercontent.com/77941087/166121205-de986ad0-1e34-4df9-8650-3a1046f8099c.png)

And also a friendly, flat theme:
![image](https://user-images.githubusercontent.com/77941087/166121304-22e751cb-09ed-450a-a2d4-8691a8538703.png)
![image](https://user-images.githubusercontent.com/77941087/166121316-e82649bb-f8fe-44f2-b981-0a25d

[2022-04-30 21:51] Moosems commented on #74
@rdbende I love the 90's style one!! It looks so pretty!

[2022-05-04 09:04] blyamur commented on #74
What an interesting project would be if it were not for its political overtones...

[2022-05-04 12:03] Moosems commented on #74
@blyamur What do you mean by `political overtones`?

[2022-05-04 12:20] blyamur commented on #74
It is enough to open the project description page, and there is a badge, From a person who incites hatred between nations. Why this is in open source projects, I don’t understand ... Am I not right?

[2022-05-04 12:34] insolor commented on #74
@blyamur

The badge doesn't incite hatred, instead the actions of a group of people in the Kremlin and their army incite hatred.

Btw, there is a flag on your avatar, a flag of a country which fires missiles to another country, and you are complaining about political overtones? As they say, "either put on panties, or take off the cross"

[2022-05-04 12:41] Moosems commented on #74
@blyamur Having a StandWithUkraine flag doesn't incite any violence. It shows that the owner and group stands with the people of Ukraine. Given the fact that Ukraine was innocent and is innocent in the Russo-Ukrainian war that means that it doesn't incite violence but rather shows that people are willing to stand up for innocent people

[2022-05-04 18:24] rdbende commented on #74
@blyamur

A project is not made worse or better, more or less interesting, by what its authors think about the war and the world and how they communicate that.
I accept that you may disagree with what you see in the README, but I didn't put that badge there to incite hatred at all. If something is hateful, it is when someone's avatar contains the flag of a country that has been bombing a country a

[2022-05-05 05:38] blyamur commented on #74
And where were you all those 8 years while they were killing their fellow citizens? Donbass, Odessa... When were the children bombed? They killed my colleagues' relatives. Was it normal?
It just so happens that the bad ones supply food and medicine and sacrifice themselves to save the civilian population, while the good ones pump up the country with weapons and encourage the killing of civilians.

[2022-05-05 05:50] insolor commented on #74
@blyamur

Russia caused the Donbass conflict, Ukraine just tried to take back their territory. Only Russia is responsible for these deaths.

And another question: where Russia were for those 8 years? For the last few years the conflict on Donbass were mostly frozen and there were just dozens of casualties a year, and now Russia escalates the conflict and now there are hundreds and thousands of kil

[2022-05-05 08:54] rdbende commented on #74
@blyamur
I'm locking the conversation.
Please don't think I want to silence you, but this conversation is going nowhere and is neither relevant nor appropriate here.

[2022-05-05 17:15] #74 closed

[2022-05-05 17:33] Moosems opened #75 "Tooltips"
Can we create a widget that shows text when widgets are hovered over?

[2022-05-05 17:39] rdbende commented on #75
I plan to implement one

[code]

[2022-05-16 18:37] rdbende opened #76 "ScrollView widget"
A scrollable frame with.

[code]

[2022-05-16 18:51] Moosems commented on #76
How does it now when to stop the scrolling?

[2022-05-17 02:07] sumeshir26 commented on #76
No, the user will scroll the frame

[2022-05-17 10:51] Moosems commented on #76
Here is what I meant to ask: Is there a limit to how long/much they can scroll? Will it limit it to the length/width of the widgets inside?

[2022-05-17 13:26] rdbende commented on #76
No, it won't.

[2022-05-17 13:27] Moosems commented on #76
Ok 👍  Is there a way to add a limit?

[2022-05-17 13:49] rdbende commented on #76
Yes, I could implement some limit control, but I don't really see its benefit 🤔

[2022-05-17 14:04] Moosems commented on #76
So that the user could make something similar to a webpage but not let the user scroll out into infinity

[2022-05-17 14:17] Moosems commented on #76
That makes more sense. Thanks for the clarification!

[2022-05-19 13:11] Moosems commented on #73
@rdbende Can this stay continuous? By that I mean can someone do "python3" and then mess around with what you could normally do inside the widget?

Example code to test:
[code]

[2022-05-19 17:25] rdbende commented on #73
Actually I haven't started implementing it, just dropped my ideas here.
But yes, probably it's possible to make it able to run interactive programs.

[2022-05-25 04:13] loungeclown opened #77 "Unsupported Platform?"
I get this error idk why
`tukaan.exceptions.TclError: Serif: Unsupported platform windows-x64`

[2022-05-25 04:19] rdbende commented on #77
Currently this is Linux-only. Mac and Windows support is coming soon!

[2022-06-06 17:50] demberto commented on #77
You should remove cross platform from everywhere @rdbende and it to the roadmap

[2022-06-08 22:38] Moosems opened #78 "Allow wildcard imports? 🤔"
When I create an app with tkinter I normally will start the file with `from tkinter import *` so it gets rid of the hassle of importing labels and buttons and whatnot. We need to make that compatible and work with Tukaan. Great job on the release by the way!

[2022-06-08 22:44] Moosems opened #79 "Font support for Labels"
@rdbende  I'm unsure how to use fonts with Tukaan labels. How should I do this?

[2022-06-09 05:16] rdbende commented on #78
Well, the thing is that I **really** hate star imports in Python. It's almost always a bad and lazy thing to do. It bloats the global namespace, and makes the code less readable.
https://github.com/tukaan/tukaan/blob/228e7da094eeaff942360553dd0715497440002c/tukaan/__init__.py#L1
I deliberately made such imports impossible, to prevent people from making such bad things while using Tukaan. I wouldn'

[2022-06-09 05:32] rdbende commented on #79
I'm currently not able to implement it, but I think it's a good starting point for you.

It's basically just adding a `font` parameter to the `__init__`, and a key to `_keys`, and Tukaans' widget API does the rest for you.
You can see, how other parameters are implemented in `label.py`, and `textbox.py` specifically for font attributes.

[2022-06-09 15:51] Moosems commented on #78
@rdbende Understood and noted. Thanks for the advice by the way

[2022-06-09 15:51] #78 closed

[2022-06-09 18:23] rdbende commented on #79
Nah, that is odd. I have to figure out why that happens, the manual page says that it works with Tk 8.5 and eith 8.6 as weel, so it shouldn't be an unknown option.

...
font: tuple | None = None,
...
font=font,

In my opinion, managing fonts in Tkinter is kinda inconvenient. You have to create tuples with some random str values, and just in the right order, and if you want to skip a property from

[2022-06-11 00:17] Moosems commented on #38
@rdbende How can I make a custom messagebox like those?

[2022-06-30 13:45] rdbende commented on #48
Yes, soon, because I've just rewritten the whole layouting thingy, and that will definitely need some explanation ;)

[2022-06-30 18:31] Moosems commented on #48
Once the layouting is completed the docs should be completed pretty quickly

[2022-06-30 18:31] Moosems commented on #48
Am I correct that it will keep with the grid system?

[2022-07-01 15:57] Moosems opened #81 "How to create menubars?"
How do I create menubars?

[2022-07-01 23:13] rdbende commented on #81
There's no way for that atm.

Actually this idea sounds kool, but on the other hand, it might be a bit unintuitive to create the menubar before the application, and could lead to a boilerplate API implementation.

I don't exactly understand, what do you mean by instant loading tho. Do you mean the menubar should be the first thing that loads or 🤔 Or are you experiencing slow menubar loading with T

[2022-07-02 01:25] Moosems commented on #81
So when you make a window or instance of Tk on Mac the menu at automatically loads a boilerplate menu at and it takes a moment to load the desired one giving a really weird and off putting effect/look. The boilerplate menu at seems to be rooted in tk as it shows in Tukaan too. As for the boilerplate stuff I'm not bothered by that too much and if done right can be eliminated

[2022-07-02 01:25] Moosems commented on #81
Why not?

[2022-07-02 08:18] rdbende commented on #81
Well, because I haven't implemented it yet 😅

[2022-07-02 08:48] rdbende commented on #81
But I have some ideas 🙂 Wait a minute.

[2022-07-02 14:10] Moosems commented on #79
- - - - Personally I really love the way that tkinter handles fonts for the user but I would like it if you didn't always have to give a size value. Tkinter is super flexible when it comes to fonts but I would also love it where it sturdy. I honestly really dislike making font objects and normally use 'normal_font=("Courier New bold", 15)'

[2022-07-02 14:30] Moosems opened #84 "DockMenu menu (context menu)"
Important: when using MacOS having a good DockMenu menu is incredibly important. I propose that we create a good system for this as it does not seem to be built into tk. See my [stackoverflow question](https://stackoverflow.com/questions/72834439/open-new-window-tkinter-tk-taskbar-dock/72836549#72836549) for more detail. This is also an issue for windows so setting up a good system is important to

[2022-07-02 14:33] Moosems commented on #62
Can we add the sun-valley ttk theme as a built-in theme? Question: can we still allow the user to choose button width/height and font even when using a special theme (something tkinter does not allow)?

[2022-07-02 15:14] rdbende commented on #84
Yes, that would be a good addition for Mac and Windows too (I'd love to see it on Linux, but there are so many different desktop environments and task managers that it would be impossible to make it compatible with all of them).
The other thing is the progressbar on the dock icons (I don't know if there is one on macOS). I think both I think on Windows both can be done using `ctypes` winapi. I don

[2022-07-02 15:19] rdbende commented on #81
[^1]: [tkdocs.com](https://tkdocs.com/tutorial/menus.html#menubars)

Ahh, now I see why it's important to have the menubar widget ASAP.

[2022-07-02 15:51] Moosems commented on #84
I have never seen a loading bar on the Mac dock. The winapi seems to made directly for windows but if done right I think Mac can be handled through pyobjc.

[2022-07-02 15:55] Moosems commented on #84
@rdbende check the stackoverflow question as there is a good pyobjc reference given

[2022-07-03 15:23] sumeshir26 commented on #62
@rdbende said he was going to make a extension for Tukkan with many themes

[2022-07-03 15:25] sumeshir26 commented on #62
So, if I have a Windows 11 GTK/KDE theme, will the app match that theme, or does GTTK only work with system themes?

Sorry this is a stupid question, but I don't have Linux so I was curious.

[2022-07-03 16:49] rdbende commented on #62
Gttk can use any Gtk theme that is installed on the system, provided that the theme has a Gtk 2.0 version. So if it's Gtk 3 only (which uses CSS for styling), it won't be able to use it.
On KDE Plasma (which is based on Qt) it can't use the widget styles, instead it will use the buil-in clam theme, and apply the system colorscheme to it

[2022-07-03 17:33] Moosems commented on #62
When we add theming can we still allow the user to choose button width/height and font even when using a special theme (something tkinter does not allow)? I find it important to be able to choose font because I brand my apps with a special font style but also love ttk looks so it's often really frustrating for me to not be able to get both (A silly annoyance I know)

[2022-07-03 20:35] #75 closed

[2022-07-04 02:50] Moosems opened #86 "Tooltip issues/ideas"
Tooltip has some issues on Mac and I have some ideas. First and foremost is the usage of the toplevel:
 1. On mac this makes quite a weird illusion and looks pretty bad. I recommend that we use the button idea and that we just position and un-position as it was initially. My picture of the issue is attached.
 2. I believe that the time for scheduling should be halved to 500 ms instead of a whole s

[2022-07-04 13:34] sumeshir26 commented on #62
I thought Tukaan also supports CSS theming?

[2022-07-04 14:25] rdbende commented on #62
Yes, but the Tukaan css theming is a bit different than Gtk.
In Tikaan you have to use png images, just as in Tkinter, but the css syntax makes it much easier to set the other properties, however it doesn't support dynamic styling.

[2022-07-04 19:21] Moosems commented on #62
What do you mean by dynamic styling?

[2022-07-04 20:10] rdbende commented on #62
When you do this:
[code]

Tukaan can't generate widget styles based on information like this.

[2022-07-04 20:47] Moosems commented on #62
I could create a lexer for it. We could also have it use a png generator that bases it off of a built in design and modify it to specifications. It would be a bit of work but could be done

[2022-07-04 20:55] rdbende commented on #62
Yupp, that was my first idea when I started with ttk themes. But then it became "just" the Azure theme, because I realized how much work it would be just to build a CSS parser and generate Tcl scripts from it. However, if I'm actually halfway done with that whole thing in Tukaan, why not make a png generator too? (I believe, PIL.ImageDraw doesn't support antialiasing, so it wouldn't be suitable fo

[2022-07-05 09:31] rdbende commented on #62
They **do** support antialiasing on every platform! 🤔
Just take a look at one of my themes, they are all antialiased.
Tk supports displaying antialiased images, and since most ttk theme are mafe of pixmap, they look good even on Windows. The only thing in Tk that doesn't support antialiasing on Linux and Windows is the `Canvas` widget, but (of course :) Tukaan has a alternative canvas implementati

[2022-07-05 12:06] alejandroautalan commented on #62
Hello,

I am interested in the implementation of the canvas and its improvements. It's not released yet right?

[2022-07-05 12:29] rdbende commented on #62
Yup, it's not yet complete. But basically it just uses the [TkPath](https://github.com/avarga/tkpath) project (an alternative canvas widget that uses native backends for drawing), instead of Tk's original canvas widget. So actually it's not the original canvas that's been improved, but it's an alternative implementation.
I'm also working on a wrapper around the `TkPath` canvas widget for Tkinter.

[2022-07-05 14:22] rdbende commented on #86
### TODO
- [x] Reduce default tooltip delay
- [x] Intelligently set delay before disappearance
- [ ] Fix newline problem with Aqua theme
- [ ] Make sure it doesn't go off-screen
- [ ] Make sure it looks right with any theme

[2022-07-05 14:41] Moosems commented on #62
What does the canvas look like currently?

[2022-07-05 15:14] rdbende commented on #62
[code]

![image](https://user-images.githubusercontent.com/77941087/177360644-07dbbb81-d432-4e37-96d4-01f667fdf18a.png)

[2022-07-05 18:50] Moosems commented on #62
Can you break down what path is?

[2022-07-05 19:44] rdbende commented on #62
Path is an SVG element originally. Basically it's a very powerful pen element with which you can draw lines, curves, arcs, and more.

Documentation: https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Paths

[2022-07-05 22:48] Moosems opened #87 "How to close TabView tab?"

[2022-07-06 12:10] rdbende opened #88 "Move tkdnd to Dropp submodule"
TODO:
- [ ] Move `tkdnd` to `Dropp` submodule
- [ ] Rename `tkdnd` to `Dropp`
- [ ] Improve build system (help needed)
- [ ] Translate Tcl part to Python for easier maintainability

[2022-07-06 14:15] rdbende commented on #88
It's the extension that adds Drag and drop capabilities to Tukaan.

[2022-07-06 18:36] Moosems commented on #88
Like dragging of files or widget movement?

[2022-07-06 18:45] rdbende commented on #88
Yes. Files, text, and basically anything that can be dragged (icons from my dock, HTML elements from the browser, color swatches from Inkscape, ...)

[2022-07-06 18:59] Moosems commented on #88
Oh wow

[2022-07-06 20:57] Moosems commented on #38
Can we try and add the Mac printer dialog?

[2022-07-06 21:07] rdbende commented on #38
Yup, it isn't in the TODO, but actually I've implemented it.

Definitely, amazing good idea! I'll have to do some research, because it's probably not that straightforward, but it would be nice to have a print dialog (not only on Mac :)

[2022-07-06 21:23] Moosems commented on #38
Yeah its not built into tk and haven't been able to find anything yet but that would be an amazing add

[2022-07-06 21:33] rdbende commented on #38
@Moosems Here are your requested links:
- https://github.com/tcltk/tk/blob/main/library/print.tcl
- https://github.com/tcltk/tk/blob/main/macosx/tkMacOSXPrint.c

I haven't read through them, just found the files, but it looks like there is indeed going to be some printing stuff in Tk8.7

[https://wiki.tcl-lang.org/page/Tcl/Tk+Printing+Support](https://wiki.tcl-lang.org/page/Tcl%2FTk+Printing+Suppo

[2022-07-06 21:51] Moosems commented on #38
That's awesome! You know that TRCK on stackoverflow is me right?

[2022-07-06 21:58] rdbende commented on #38
Yes :)

[2022-07-06 22:28] Moosems commented on #38
Haha I just thought it was kinda funny how you had pulled up my question

[2022-07-10 09:31] lmjaedentai opened #90 "AttributeError: partially initialized module 'tukaan' has no attribute 'App' (most likely due to a circular import)"
I just follow the example given in [ReadMe ](https://github.com/tukaan/tukaan#get-started)to try this module at the first time.
[code]
Then I get this error.
[code]
I am new to this module and I have no idea about why would this happens.
Sorry for my incoveniences causes.

[2022-07-10 10:03] lmjaedentai commented on #90
I accidentally named my file same as the module. Sorry

[2022-07-10 10:03] #90 closed

[2022-07-12 04:23] Moosems opened #93 "Widget Creation"
I noticed that you mentioned effbot.org in one of your repositories and when looking at it through the web archive I noticed they had created a Widget Creation Tool that they named WCK. I was wondering if we wanted to make widget creation easier in Tukaan and, if so, how can I help make this? I've always wanted something like this so seeing it happen in Tukaan would be awesome

[2022-07-12 20:41] rdbende commented on #93
Cool idea! We definitely need some custom widget API for both megawidgets and plain widgets.

To be honest I've wondered several times what about incorporating some form of the WCK into Tukaan. For some reason I always dropped that idea. But now it occurs to me that we could make some kind of "wrapper" around the [Ttk C API](https://www.tcl-lang.org/man/tcl8.6/TkLib/contents.htm), so that not only

[2022-07-12 21:34] Moosems commented on #93
For me the issue with creating megawidgets was always inheriting the functions of multiple classes. For example, if I was making a good Text widget I want to add scrollbars to the side so I have to put it in its own frame so that it all packs and grids neatly (see the code below) but then I can't inherit the properties of the Text widget. Making it so that people can have both would be incredible

[2022-07-14 05:20] PyHubs opened #94 "tukaan.exceptions.TclError: Serif: Unsupported platform windows-x64"
I cant run any Tukaan code on windows? Help
[code]

[2022-07-14 08:07] rdbende commented on #94
Are you using the latest version (0.1.1)?
It shouldn't give this error with it.

[2022-07-14 08:11] rdbende commented on #94
The code that would have given this error no longer even exists in v0.1.1

[2022-07-15 05:33] Moosems commented on #62
I have a feeling that this week need a very in depth segment of documentation

[2022-07-21 18:40] desvasicek commented on #16
[desvasicek:patch-1](https://github.com/tukaan/tukaan/pull/96)

[2022-07-21 20:49] Moosems commented on #16
@rdbende Could you give a final review to the patches?

[2022-07-21 20:52] Moosems commented on #79
@rdbende Any updates?  I'm still hoping to fix this

[2022-07-21 20:53] Moosems commented on #48
I think I'll have some time this week to work on updating the documentation

[2022-07-21 21:17] Moosems commented on #88
By `Move `tkdnd` to `Dropp` submodule` do you want me to copy/paste the files and then start translating it to python?

[2022-07-24 09:37] sumeshir26 opened #97 "Will this go to GitLab? 🦊"

[2022-07-24 10:28] rdbende commented on #97
No

[2022-07-24 10:28] #97 closed

[2022-07-24 10:34] rdbende commented on #97
But at least not in the near future.

[2022-08-06 11:11] #94 closed

[2022-08-08 01:36] Moosems commented on #84
Any updates?

[2022-08-08 01:36] Moosems commented on #84
Any way I can help?

[2022-08-09 04:05] sumeshir26 commented on #84
What is Idared? I cant seem to access it, is it private?

[2022-08-10 13:52] Moosems commented on #38
How can I call messageboxes?

[2022-08-10 14:31] rdbende commented on #38
In theory you could do this:
[code]
but something is broken, so you can't ATM.

[2022-08-10 14:53] Moosems commented on #38
Oh ok. How can I help get them working?

[2022-08-10 14:58] rdbende commented on #38
At the moment I don't you could help, because I don't know what causes the error either. But if you can figure it out, then...

[2022-08-10 15:00] Moosems commented on #38
Ok. Where is the code for it located?

[2022-08-10 15:03] Moosems commented on #38
Thanks

[2022-08-16 20:23] rdbende commented on #81
[code]

[2022-08-18 12:43] Moosems commented on #88
I don't see the Dropp submodule anymore

[2022-08-30 16:19] rdbende commented on #79
Ictually, I successfully implemented this today in the same way, so Idk what was the problem.

[2022-08-30 16:24] Moosems commented on #79
Can you create a release for me to test it with?

[2022-08-30 16:26] rdbende commented on #79
Soon!

[2022-08-30 16:27] Moosems commented on #79
😀

[2022-09-03 16:25] #79 closed

[2022-09-08 05:24] demberto commented on #2
Pypi publisher action should be marked as complete now

[2022-09-08 05:32] rdbende commented on #2
Thanks! I marked it.

[2022-09-08 05:38] rdbende opened #102 "Implement multiple monitor support in a suckless way"
Some notes can be found in https://github.com/Akuli/porcupine/issues/407

[2022-09-08 05:42] demberto commented on #2
Pyright is better imo, mypy needs annotations everywhere making them redundant. Too much type hints can make the real code look ugly and harder to navigate.

[2022-09-08 12:17] Moosems commented on #2
That may be true but it makes the code more readable and easier to understand when it comes to functions performed on variables

[2022-09-08 18:37] Agent-Hellboy commented on #3
You can assign this to me. I will try to raise my PR in the coming weeks.

I will use pytest.

[2022-09-08 19:40] Moosems commented on #48
I'll start powering through this sometime. @rdbende Can you get me a list of stables widgets that you would like documented and then I'll get to work?

[2022-09-08 19:48] rdbende commented on #88
The repo is now public

[2022-09-09 19:03] rdbende commented on #2
To be honest, I don't agree with this. Sometimes the amount of type annotations that satisfy Mypy makes the code very ugly and hard to read.

[2022-10-30 08:56] rdbende opened #107 "Notifications"

[2022-10-30 08:57] rdbende commented on #107
Lol, accident

[2022-10-31 11:50] Moosems commented on #107
You added notifications?

[2022-10-31 12:04] rdbende commented on #107
Yes, but only on Linux. On macOS it's a bit more complicated.

[2022-10-31 12:17] Moosems commented on #107
Aww dang it. That would have been so useful

[2022-10-31 12:18] Moosems commented on #87
Any way I can help?

[2022-10-31 12:18] Moosems commented on #48
@rdbende What needs to be updated and what needs to be added?

[2022-10-31 13:57] rdbende commented on #48
Basically we need a doc page on every widget, that hasn't been documented yet, and we have to update the docs about the `App` and `Window` classes (now there's a separate `App` object and `MainWindow` and `Window` widget).

[2022-10-31 13:58] Moosems commented on #48
Wait really? Can you give a quick explanation?

[2022-10-31 14:30] rdbende commented on #48
Yep. The idea behind it is to separate the concept of "The App" and the root window, it it makes it easier to display a splashscreen while the window loads, and make every widget appear instantly as the window becomes visible. It works like this:

[code]

[2022-10-31 14:33] Moosems commented on #48
Oooooooh. Is this in the most recent Pypi release?

[2022-10-31 14:35] rdbende commented on #48
No, it's only here on Github, and the MenuBar widget doesn't even exist (I'm working on it right now)

[2022-10-31 14:37] Moosems commented on #48
I'm so excited for the Menubar to be honest because once the menubar and text widget are added I'm bugging out with tkinter and moving DIP onto tukaan. Will be annoying but hey, I want to help work more with Tukaan

[2022-10-31 14:39] Moosems commented on #48
Oh, @rdbende I haven't seen you on ##learnpython in a while so I thought I'd ask you here: Can you help me with my linenumber widget? I'm trying to get dragging to work better and know you know tk better deep down. If you're up to the task let me know. no worries if not. In the meantime I will work on writing some more docs for Tukaan

[2022-10-31 14:44] Moosems commented on #102
Sorry, the wording felt really..... weird

[2022-10-31 14:45] Moosems commented on #84
@sumeshir26 Good question. I can't access it so it's probably @rdbende's private repo

[2022-10-31 14:47] rdbende commented on #84
Lol, I though it's public.

[2022-10-31 14:54] rdbende commented on #84
https://github.com/tukaan/Idared

[2022-10-31 22:19] Moosems commented on #48
@rdbende I get an error when using the Splashscreen code when using the newest commit from the github repo

[2022-10-31 22:22] rdbende commented on #48
Hmmm... 🤔

[2022-10-31 22:24] Moosems commented on #48
Maybe its on your computer without being commited

[2022-10-31 22:24] rdbende commented on #48
Whoops, that file is untracked, so I didn't commit it lol. Will fix it soon.

[2022-10-31 22:26] Moosems commented on #48
So I noticed in the code that the comment said that the menubar would autofill but upon testing the code without the splashscreen it just uses the default tk one. Any thoughts?

[2022-10-31 22:30] rdbende commented on #48
The menubar stuff isn't finished yet.

[2022-10-31 22:30] Moosems commented on #48
Ah

[2022-10-31 22:37] Moosems commented on #48
So what have I missed recently?

[2022-10-31 23:14] rdbende commented on #86
![image](https://user-images.githubusercontent.com/77941087/199127020-35518b59-c078-4bab-83e8-586e66075d7b.png)

[2022-11-01 12:53] sumeshir26 commented on #107
I think its possible on Windows as well. There is a module called Win10Toast on PyPi that does this

[2022-11-01 13:03] Moosems commented on #107
It's possible on Mac using osascript. Look [here](https://stackoverflow.com/a/41318195/17053202) and in the comments on it

[2022-11-01 13:24] #107 closed

[2022-11-01 13:26] rdbende commented on #107
I opened this issue accidentally from #38. I do plan to implement notifications for Windoze and mac, but I track it in #38.

[2022-11-01 13:34] Moosems commented on #107
Oh

[2022-11-01 13:42] rdbende commented on #107
No problem!
It's just that I'd rather not have two separate issues on kinda the same topic, 'cause later it would be harder to find the info I'm looking for.

[2022-11-01 13:44] Moosems commented on #107
Makes sense!

[2022-11-03 23:59] rdbende opened #109 "Bindings still suck"
* You can't do things like `<KeyDown:(Control)>` (i.e. you can't bind modifiers only)
* You can't use keyboard modifiers for non-keyboard events
* There's no way to access the source widget
* Global bindings aren't supported
* Class bindings aren't supported
* `bindtags` isn't implemented
* `event add`, `event delete` and `event info` is not implemented

Some notes:
[code]

[2022-11-04 00:01] Moosems commented on #109
Why not?

[2022-11-04 00:08] rdbende commented on #109
What?

[2022-11-04 11:52] Moosems commented on #109
Why can't you do keyboard modifiers on non-keyboard events?

[2022-11-04 12:00] rdbende commented on #109
Because there is a bug in the event type matching mechanism, and I haven't had time to fix it yet.

[2022-11-26 23:56] rdbende opened #113 "Localization"
[tracker for localization features]

[2022-11-26 23:57] rdbende opened #114 "Accessibility"
[tracker for accessibility features]

[2022-11-27 00:00] rdbende opened #115 "High DPI support"
🤔😅

[2022-11-27 03:37] im-coder-lg commented on #115
How would this help? I don't know what the hell a DPI is, but I suspect it's related to the screen?

[2022-11-27 09:31] rdbende commented on #38
Windows toast notifications: https://github.com/mohabouje/WinToast

[2022-11-28 10:40] Moosems commented on #115
Dots Per Inch, pretty much screen resolution